$cream: #f0eae2;
$backgroundColor: $cream;

/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import url("https://github.com/hakimel/reveal.js/blob/master/css/theme/template/mixins.scss");
@import url("https://github.com/hakimel/reveal.js/blob/master/css/theme/template/settings.scss");
// ---------------------------------------------


// Include theme-specific fonts
@import url("https://fonts.googleapis.com/css?family=Monserrat|Roboto");


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #f0eae2;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 42px;
$mainFont: 'Monserrat', Helvetica, sans-serif;
$headingFont: 'Monserrat', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);


// Theme template ------------------------------
@import "https://github.com/hakimel/reveal.js/blob/master/css/theme/template/theme.scss";
// ---------------------------------------------