/* background-color: #f0eae2
text: #080703
text2: #635625
accent1: #A32A1F
accent2: #B16323
accent3: #B6956C
accent4: #C86D40
accent5: #A32A1F
accent6: #C7937E
hyperlink: #7A1F17 */


.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    color: #2c2301;
    font-family: 'Montserrat', sans-serif;

}

.reveal h1 {
    font-size: 1.75em;
}

.reveal h5, .reveal h6 {
    color: #A32A1F;
    font-weight: bold;
}

.reveal h6 {
    text-transform: none;
}

.reveal blockquote p {
    text-align: center;
    color: #A32A1F
}

.twitter-tweet {
    margin: auto;
}

.reveal ul {
    text-align: left;
}

/* .reveal ul {
    text-align: left;
    line-height: 120%;
} */

/* .reveal li {
    text-align: left;
}

li {
    text-align: left;
} */


.reveal p {
    margin-left: 5px;
    text-align: left;
}

/* ul {
    color: #A32A1F;
    list-style-type: square;
    text-align: left;
    margin: 0px;
    padding: 0px;
    font-size: 1em;
} */